@media screen and (max-width: 768px){
   #kon_menu{
       padding: 0;
       margin-top: -220px;
   }
    .linki_menu {
       width: 100%;
   }
   .linki_menu li {
       width: 100%;
       float: none;
       padding: 10px 0;
   }
   .pokaz_menu {
       padding: 10px;
       display: block;
       background: rgb(83,62,26);
       text-align: center;
       color: rgb(245,245,245);
   }
    #top_strony{
        height: 600px;
        background: url(../images/ragoll_mobile.jpg) no-repeat center;
    }
#top_strony h1{
    font-size: 2.5em;
    margin-top: 25%;
}
#top_strony h2{
    font-size: 1.5em;
    line-height: 30px;
}
#top_strony p{
    margin-top: 35%;
}
#top_strony p a{
    padding: 20px 60px;
}
}