@media screen and (max-width: 768px){
  .books_oferta{
      width: 43.3%;
      height: auto;
      margin-bottom: 2.3%;
  }
  .books_oferta:nth-of-type(2n){
      margin-right: 0;
  }
    .srodkuj{
       width: 95%;
   }
    #kon_menu{
       padding: 0;
       margin-top: -220px;
   }
    .linki_menu {
       width: 100%;
   }
   .linki_menu li {
       width: 100%;
       float: none;
       padding: 10px 0;
   }
   .dzial_naglowek{
       line-height: 45px;
       margin: 5% 0;
    
    }
    .dzial_opis{
        line-height: 25px;
    }
   .pokaz_menu {
       padding: 10px;
       display: block;
       background: rgb(83,62,26);
       text-align: center;
       color: rgb(245,245,245);
   }
    #top_strony{
        height: 600px;
        background: url(../images/ragoll_mobile.jpg) no-repeat center;
    }
#top_strony h1{
    font-size: 2.5em;
    margin-top: 25%;
}
#top_strony h2{
    font-size: 1.5em;
    line-height: 30px;
}
#top_strony p{
    margin-top: 35%;
}
#top_strony p a{
    padding: 20px 60px;
}
/*OFERTA*/
.books_oferta{
    width: 96%;
    height: auto;
    float: none;
    margin-right: 0;
    margin-bottom: 5%;
    text-align: center;
}
.books_oferta ul{
    height: auto;
}
/*DIETETYK*/
.dietetyk_personalne, .dietetyk_osiagniecia{
    width: 96%;
    float: none;
    margin-right: 0;
    margin-bottom: 3%;
    text-align: center;
}
.img_certifykat{
    display: block;
    width: 40%;
    float: none;
    margin: 0 auto;
}
.okienko_formularz h3{
    text-align: center;
}
.okienko_formularz input{
    width: 93%;
    padding: 3%;
    margin-right: 0%;
    margin-bottom: 3%;
}
.okienko_formularz textarea{
    width: 93%;
    padding: 3%;
}
.wyslij_ankiete{
    margin-top: 3%;
}
#kon_stopka{
    padding: 3% 0;
}
}